:root {
    --border-radius: .5rem;
}

.select-component-wrapper {
    background: white;
    text-align: left;
    padding: 2rem;
    border-radius: var(--border-radius);
    /*border: 1px solid purple;*/
}

label {
    font-size: .9rem;
    display: inline-block;
    font-weight: bold;
    margin: .8rem 0 .4rem 0;
}

@media (prefers-color-scheme: dark) {
    .select-component-wrapper {
        background: black;
    }
}