:root {
    --border-radius: .5rem;
}

.select-component-wrapper {
    background: white;
    text-align: left;
    padding: 2rem 2rem 1rem 2rem;
    border-radius: var(--border-radius);
}

@media (prefers-color-scheme: dark) {
    .select-component-wrapper {
        background: black;
    }
}

label {
    font-size: .9rem;
    display: inline-block;
    font-weight: bold;
    margin: .8rem 0 .4rem 0;
}

ul {
    margin-top: 2rem;
    padding: 0;
    font-size: .9rem;
}

ul::before {
    content: '🤔';
    font-size: 1.1rem;
}

ul > li {
    margin-left: 1.35rem;
}